@use '/src/assets/styles/vars' as v;

.modal-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);

  .modal {
    z-index: 2;
    min-width: 50rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50rem;
    background-color: var(--bgColor2);
    border-radius: 0.5rem;
    padding: 2.5rem;

    .modal-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .modal-title {
        font-weight: 700;
        font-size: 1.875rem;
        margin-bottom: 2.5rem;
      }

      .modal-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5625rem;
        width: 100%;

        .name-term-wrap {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 8.125rem;
          justify-content: space-between;
        }
      }

      .btn-create {
        color: #fff;
        width: 23.125rem;
        margin-top: 3.125rem;
        border-radius: 0.5rem;
        padding: 0.9375rem 0rem 0.875rem 0rem;
        background-color: v.$turquoise;
      }
    }
  }
}
