.list-item {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  border: 0.0625rem solid var(--borderColor);
  border-radius: 0.5rem;
  padding: 1.25rem;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  background-color: var(--bgColor2);
  font-weight: 600;
  font-size: 0.875rem;
  user-select: none;

  .list-item-header {
    display: grid;
    grid-template-columns: 2fr 1px 1fr 1px 1fr;
    align-items: center;
    gap: 3.125rem;

    .date {
      display: flex;
      justify-content: center;
    }

    .divider {
      background-color: var(--textColor);
      width: 1px;
      height: 1.5rem;
    }

    .title-wrap {
      display: flex;
      gap: 1.25rem;
      align-items: center;
    }

    .desc-toggle {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 1.25rem;

      p {
        min-width: 8.125rem;
      }
    }
  }

  .desc {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
    position: relative;

    &::after {
      position: absolute;
      display: block;
      top: -1.5625rem;
      content: '';
      width: 100%;
      height: 0.0625rem;
      background-color: var(--borderColor);
    }
  }
}
