// Background color
$bgColor: #212121;
$bgColor2: #424242;

// Colors
$textColor: #f4f6f8;
$borderColor: #b9b9b9;
$placeholderColor: #d3d3d3;
$hoverOptionColor: rgba(37, 192, 175, 0.5);
$activeOptionColor: rgba(27, 142, 128, 0.5);
