@use 'reset';
@use 'vars';
@use './themes/light';
@use './themes/dark';

// Theme variables
:root {
  --bgColor: #{light.$bgColor};
  --bgColor2: #{light.$bgColor2};
  --textColor: #{light.$textColor};
  --borderColor: #{light.$borderColor};
  --placeholderColor: #{light.$placeholderColor};
  --hoverOptionColor: #{light.$hoverOptionColor};
}

[data-theme='dark'] {
  --bgColor: #{dark.$bgColor};
  --bgColor2: #{dark.$bgColor2};
  --textColor: #{dark.$textColor};
  --borderColor: #{dark.$borderColor};
  --placeholderColor: #{dark.$placeholderColor};
  --hoverOptionColor: #{dark.$hoverOptionColor};
}

// Global styles
body {
  font-family: vars.$fontFamily;
  font-size: vars.$fontSize;
  color: var(--textColor);
  background-color: var(--bgColor);
}

.container {
  max-width: vars.$maxWidthContainer;
  margin: 0 auto;
  padding: vars.$containerPadding;
}

.icon * {
  fill: var(--textColor);
}
